@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Shantell+Sans:ital,wght@0,400;1,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    background: url('../img/header.png') no-repeat center center;
    height: 240px;
    width: 100%;
    margin: 100px 0;
}

body{
    background: url('../img/bodybg.jpeg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#palya{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: url('../img/bg.webp');
}

.sor{
    display: flex;
}

.cella{
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    background: url('../img/fa.webp');
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.ures{
    background: none;
}

@keyframes bal{
    0% {left: 0px;}
    100% {left: -200px;}
}

.bal{
    animation-name: bal;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes jobb{
    0% {left: 0px;}
    100% {left: 200px;}
}

.jobb{
    animation-name: jobb;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes fel{
    0% {top: 0px;}
    100% {top: -200px;}
}

.fel{
    animation-name: fel;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes le{
    0% {top: 0px;}
    100% {top: 200px;}
}

.le{
    animation-name: le;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

.jo{
    color: green;
}